<template>
  <q-page class="q-ma-xl">
    <div class="row">
      <div class="col col-xs-12 q-ma-md">
        <q-input v-model="search" label="Search Brands" />Quasar Components
        <q-input v-model="text" label="Text" />
        <!-- using v-if condition -->
        <q-btn v-if="!edit" color="green" label="Add" @click="addBrand"></q-btn>
        <q-btn v-else color="brown" label="Update" @click="updateBrand"></q-btn>
        <!-- <button v-if="!edit" @click="addBrand">Add</button>
        <button v-else @click="updateBrand">Update</button>-->
        <!-- using ternary operator/operation -->
        <!-- list rendering -->
        <q-list bordered class="text-blue bg-black">
          <q-item v-for="(brand, index) in filteredBrands" :key="index">
            <q-item-section>{{index}} : {{brand.text}}</q-item-section>
            <q-item-section avatar>
              <!-- edit button -->
              <q-btn color="primary" label="Edit" @click="editBrand(brand, brand.id)"></q-btn>
              <!-- delete button -->
              <q-btn color="red" label="Delete" @click="deleteBrand(brand.id)"></q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col col-xs-12 q-ma-md">
        Native Components
        <!-- Declarative Rendering -->
        <!-- <h3>{{ cellbrands }}</h3> -->
        <!-- List Rendering -->
        <li v-for="(brand, index) in cellbrands" :key="index">
          {{index}} : {{brand.text}}
          <button @click="editBrand(brand, brand.id)">Edit</button>
          <button @click="deleteBrand(brand.id)">Delete</button>
        </li>
        <!-- <h4 v-if="!show">Bear `Brand</h4> -->
        <!-- Ternary Operator = condition ? (true) : (false) -->
        <!-- <h4>{{0 == 0 ? "Bear Brand" : "Milo"}}</h4> -->
        <input v-model="text" placeholder="Text" />
        <!-- using v-if condition -->
        <button v-if="!edit" @click="addBrand">Add</button>
        <button v-else @click="updateBrand">Update</button>
        <!-- using ternary operator/operation -->
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      // datas or variables
      text: "",
      id: "",
      cellbrands: [],
      edit: false,
      search: ""
    };
  },
  computed: {
    filteredBrands() {
      return this.cellbrands
        .filter(data => {
          console.log("data: ", data);
          return data.text.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
        })
        .map(i => {
          console.log("index data: ", i);
          return i;
        });
    }
  },
  created() {
    this.$bind("cellbrands", this.$db.collection("cellbrands"));
  },
  methods: {
    addBrand() {
      // native js
      // this.cellbrands.push(this.text);
      // firebase firestore
      this.$db.collection("cellbrands").add({
        text: this.text
      });
      this.text = "";
    },
    deleteBrand(i) {
      // delete native
      // this.cellbrands.splice(i, 1);
      // firebase firestore
      this.$db.collection("cellbrands").doc(i).delete()
    },
    editBrand(data, i) {
      console.log("index number: ", i);
      console.log("data of array index: ", data);
      this.edit = true;
      // data is pass from the parent
      this.id = i;
      this.text = data.text;
    },
    updateBrand() {
      // arrayName[index_number]
      console.log("before changed: ", this.cellbrands[this.id]);
      // update native
      // this.cellbrands[this.id] = this.text;
      // update firestore
      this.$db.collection("cellbrands").doc(this.id).update({
        text: this.text
      })
      console.log("after change: ", this.cellbrands[this.id]);
      this.edit = false;
      this.text = "";
    }
  }
};
</script>
