/* style.css */

/* Padding vs Margin */

/* Padding is what creates a space inside the element/container; */
/* Margin is what creates a space around the element/container. */
.left-padding {
  padding-left: 100px;
}

.right-padding {
  padding-right: 100px;
}

.y-margin {
  margin-top: 400px;
  margin-bottom: 400px;
}

.all-margin {
  margin: 20px;
}